In [1]:
# Setup ipytest extension

import ipytest
ipytest.autoconfig()

In [2]:
# Import our dependencies

import os
import sys
import pytest
import pandas
from pandas.testing import assert_frame_equal

In [3]:
# Import our data model

module_path = os.path.abspath(os.path.join('../'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from weighting.weighting import apply_weighting

In [4]:
path = os.path.abspath(os.path.join('../weighting/fixtures'))

In [5]:
# Set up our input data from a CSV fixture

input_data = pandas.read_csv(path + '/input.csv', index_col=0)
input_data

      val
idx
0       1
1       2
2       3

In [6]:
# Set up our expected result from a CSV fixture

expected_result = pandas.read_csv(path + '/expected_result.csv', index_col=0)
expected_result

      val
idx
0       4
1       5
2       6

In [7]:
# Run the model

actual_result = apply_weighting(input_data)

In [8]:
%%run_pytest[clean]

# Check that our actual result matches our expected result

def test_apply_weighting():
    assert_frame_equal(actual_result, expected_result)

.                                                                                                                                                        [100%]
1 passed in 0.01s